$primary-1: #287352;
$primary-2: #043b48;
$secondary: #1B9CC2;
$tertiary-1: #6AB896;
$tertiary-2: #78C0D5;
$tertiary-3: #CCDDE2;
$tertiary-4: #F1F1F2;
$tertiary-4: #EFF6F8;;
$body: #4B6368;
$body-light: #666666;
$form-border: #94A2A6;
$white: #FFFFFF;
$black: #000000;
$font-color: #666;
$button-text: #021B21;
// Font Family
$fontawesome: "FontAwesome";
$font: 'Inter', sans-serif;